@CHARSET "UTF-8";

.center_div {
	margin: 0 auto;
	width: 30% /* value of your choice which suits your alignment */
}

.error {
	font-weight: bold;
	color: red;
}

footer {
	background-color: #5a5a5a;
	position:fixed;
	bottom:0;
	width:100%;
	padding-top:10px;
}

.table td{
	vertical-align:middle !important
}

#busca{
	position: absolute;
    left: 529px;
    width: 50px;
    top: -1px;
    height: 36px;
}